@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {
    body { background-image: linear-gradient(to top, #49a09d,#5f2c52);}
    
    section#login {
        width: 80vw;

    }
    section#login > div#imagem {
        float:left;
        width:30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width:992px) {
    body { background-image: linear-gradient(to top, #49a09d,#5f2c52);}

    section#login {
        width: 950px;
    }
    div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        background:black;
        
    }

    section#login > div#imagem {
        display: block;
        background: #5f2c82 url(../imagens/pexels-marcela-toledo-5610083.jpg) no-repeat;
        background-size: cover;
        background-position: top right;
        height: 85vh;
    }
    
    section#formulario {
        float: right;
        width: 50%;
    }
}