@charset "UTF-8";

/* 
    Paleta de cores

    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#5f2c82;
}


div#container {
    background-color: white;
    width: 300px;
    height: 525px;
    border: 2px solid #49a09d;
    position: absolute ;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}

div.img-content {
    background: url(../imagens/predio.jpg) no-repeat center left;
    background-size: cover;
    height: 200px;
}

h1 {
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075);
}

p {
    padding: 0px 10px;
}

form {
    height: 120px;
    padding: 10px;
    transform: translate(0%,-20%);
    
}

input {
    width: 240px;
    padding: 5px;
    transform: translate(10%, 0%);
    border-radius: 5px;
    box-shadow: 1px 0pxpx 0px rgba(0, 0, 0, 0.171);
}
 
input[type="submit"] {
    width: 285px;
    padding: 5px;
    margin-bottom: 5px;
    transform: translate(0%, 0%);
    
}

div#login {
    padding: 8px;
    height: 30px;
    
}

div#pass {
    padding: 8px;
    height: 30px;
}

button {
    padding: 5px;
    border-radius: 8px;
    width: 285px;
}

div#botoes {
    transform: translate(0%, 60%);
}

span {
    border: #5f2c82 1px solid;
    border-radius: 100px;
    transform: translate(-40%, 90%);
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}
